div.knownLetterEntry {
  text-indent: 20px;
  color: #EFEBFF;
}

body {
    background-color: #353438;
    color: #EFEBFF;
}

button.reset {
  color: #e7e7e7;
  padding-left: 50px;
}

h1 {
    color: #EFEBFF;
}

input.knownInput {
  size: 25%;
}

#mainContent {
	text-align: left;
	width: 50%;
	margin: auto;
	boder: 3px dotted green;
}

p {
    color: #EFEBFF;
}

table.solutions {
  width = 30px;
}

table.solutionsWrapper {
  border-spacing: 10px;
}

td.even {
  color: #5F6F8F;
}

td.odd {
  color: #8174BA;
}

td {
  vertical-align: top;
}
