body {
  background-color: #00acff;
  color: #424957;
  font-family: sans-serif;
  margin-top: 0px;
  padding-top: 5px;
}

h2 {
  font-weight: bold;
}

#letters {
  font-size: 3.5em;
  width: 100%;
  border-radius: 7px;
  text-align: center;
  margin: 0px;
}

#length {
  font-size: 3.5em;
  width: 50%;
  border-radius: 7px;
  text-align: center;
  padding: 0;
}

.knownLetterEntry {
  width: 50%;
  font-size: 1em;
  text-align: center;
  border-radius: 7px;
  padding: 0;
  text-indent: 20px;
  color: #cbccc6;
}

header {
  color: #ff0013;
  font-size: 3em;
  text-align: center;
  font-family: "Cabin Sketch";
  text-shadow: 3px 3px #005b87;
  margin-left: auto;
  margin-right: auto;
}

.instructions {
  font-size: 100%;
  margin: 2em;
}

#mainContent {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

#form {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 0ch 1ch 1ch 1ch;
  font-size: 1.3em;
  background-color: #f7f7f7;
}

.form-box-single {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-box-split {
  display: flex;
  justify-content: space-between;
  vertical-align: bottom;
}

#form-radio-box {
  display: inline-block;
}

.note {
  font-size: 85%;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.results {
  word-spacing: 1.7rem;
  display: inline-block;
}

.unlikely-space {
  margin-top: 2rem;
}

@media (min-width: 1200px) {
  body {
    padding-left: 20%;
    padding-right: 20%;
  }
}
