$charcoalGrey: #232834;
$lightGrey: #cbccc6;
$darkGrey: #424957;
$offWhite: #f7f7f7;
$lightBlue: #41b2e2;
$mediumBlue: #3192e2;
$navyBlue: #5f6f8f;
$Lavender: #8174ba;
$lighterLavender: #8074ba;
$whitishLavender: #d6d1ee;
$pinkishLavender: #d99aed;

div.knownLetterEntry {
  text-indent: 20px;
  color: $lightGrey;
}

body {
  background-color: $navyBlue;
  color: $lightGrey;
  font-family: sans-serif;
  margin-top: 0px;
  padding-top: 5px;
}

a:link {
  color: $lightBlue;
}
a:visited {
  color: $mediumBlue;
}
a:hover {
  color: $Lavender;
}
a:active {
  color: $pinkishLavender;
}

h2 {
  color: $lightGrey;
  font-weight: bold;
}

#letters {
  font-size: 3.5em;
  width: 100%;
  border-radius: 7px;
  text-align: center;
  margin: 0px;
}

#length {
  font-size: 3.5em;
  width: 8rem;
  border-radius: 7px;
  text-align: center;
}

.knownLetterEntry {
  width: 3rem;
  font-size: 1em;
  text-align: center;
  border-radius: 7px;
}

#whatisthis {
  color: $lightBlue;
}

header {
  color: $lightGrey;
  font-size: 3em;
  text-align: center;
  font-family: "Cabin Sketch";
}

.note {
  color: $darkGrey;
  font-size: 85%;
}

.instructions {
  font-size: 100%;
  margin: 2em;
}

#mainContent {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

#form {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 1ch;
  font-size: 1.3em;
  background-color: $offWhite;
  color: $darkGrey;
}

.form-box-single {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-box-split {
  display: flex;
  justify-content: space-between;
  vertical-align: bottom;
}

#form-radio-box {
  margin-top: auto;
  margin-bottom: 0px;
  max-width: 40%;
  label {
    margin-right: 15px;
  }
}

// Formatting the results on each card
.results {
  color: $darkGrey;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  body {
    padding-left: 20%;
    padding-right: 20%;
  }
}

// Changing the color of placeholder text
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $lightGrey;
  //opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $lightGrey;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $lightGrey;
}
