
div.knownLetterEntry {
  text-indent: 20px;
  color: #EFEBFF;
}

body {
    background-color: #353438;
    color: #EFEBFF;
	font-family: sans-serif;
	margin-top: 0px;
}

a:link { color: #41B2E2; }
a:visited { color: #3192E2; }
a:hover { color: #E5B8FC; }
a:active { color: #D99AED; }

button.reset {
  color: #e7e7e7;
  padding-left: 50px;
}

.buttons {
	margin-top: 5px;
}

.buttons a:link { color: #41b2e2; }
.buttons a:visited { color: #3192E2; }
.buttons a:hover { color: #8174BA; }
.buttons a:active { color: #D99AED; }

/* css button */
.button-submit {
    background-color: #F2F2F2;
    border: 1px;
    color: black;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin-top: 5px;
	border-radius: 15px;
}

.button-reset {
    background-color: #CCCCCC;
    border: 1px;
    color: black;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 15px;
}

h1 {
    color: #EFEBFF;
	line-height: 0.5em;
	margin-bottom: 10px;
	margin-top: 5px;
	font-weight: bold;
}

input.knownInput {
  size: 25%;
}

p {
    color: #EFEBFF;
}

table.solutions {
  width = 30px;
}

table.solutionsWrapper {
  border-spacing: 10px;
}

td.even {
  color: #5F6F8F;
}

td.odd {
  color: #8174BA;
}

td {
  vertical-align: top;
}

li {
	padding-top: 1px;
	padding-bottom: 1px;
}

input[type="text"]
{
    font-size:12px;
}

#whatisthis {
	color: #41b2e2;
}

#submitButton {
	margin-top: 5px;
}

#header {
	color: #EFEBFF;
	font-size: 2.5em;
	margin-top: 5px;
}

#probableHeader {
	margin-top: 15px;
	font-size: 1.5em;
}

#filteredHeader {
	margin-top: 15px;
	font-size: 1em;
}

#note {
	color: #ABABAB;
	font-size: 85%;
	margin-top: 2px;
	margin-bottom: 5px;
}

#wordlogo {
    max-width: 100%;
    height: auto;
	position: relative;
	z-index: -1;
	margin-left: auto;
	margin-right: auto;
}

#imageAndMain {
	position: absolute;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-top: 0px;
	left: 0;
	right: 0;
	padding:0;
	background-image: url('wordlogo.png');
	background-repeat: no-repeat;
	min-height: 210px;
}

#mainContent {
	text-align: left;
	margin-left: 150px;
	margin-right: auto;
	margin-bottom: 0;
	margin-top: 110px;
  	padding:0;
	position: relative;
	z-index: 10;
	width: 80%;
}
