<!doctype html>
<title>Unscrambling letters</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<script src="{{ url_for('static', filename='scripts.js') }}"></script>

<div id="mainContent">

	<h1>Unscrambling letters</h1>

	<p id="note">This is a tool to unscramble words given a pool of letters.  It is a work in progress.</p>

	<p>
		<form action = "/search" method="get">
		<ul type= "disc">
			<li>Letters to unscramble: <input type="text" name="letters" maxlength="10" size="4" id="letters">
			<li>Length of the word to find: <input type="text" name="length" maxlength="2" size="1" onchange="resetPartial()" id="length">
			<li>Are there any known letters?: <input type="radio" name="known" value="True" onchange="getKnownLetters(this)" id='knownLetters'>Yes
				<input type="radio" name="known" value="False"  onchange="getKnownLetters(this)" id='unknownLetters' checked>No
				<input type="hidden" name="knownLetters" default="" id="knownLettersBox">
		</ul>

		<input type="submit" value="Submit" onclick="bundleKnownLetters()">
		<button type="button" onclick="resetForm()" id="reset">Clear Form</button>
		</form>
	</p>



	<div id="knownLetterEntry"></div>

</div>
